recursive-include Havau/po Havau/*.po
recursive-include Havau/tests *
recursive-include Havau/docs *
recursive-include img *
recursive-include Havau/locales *
recursive-include Havau/widgets *
recursive-include Havau/garden_matplotlib *
include Havau/*.kv
include *.md
include Makefile
