[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = "*"
python-gettext = "*"
matplotlib = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pydocstyle = "*"
pylint = "*"
sphinx = "*"

[requires]
python_version = "3.9"
